{% extends "base.twig" %}

{% from 'components/buttons/Button.twig' import Component as Button %}
{% from 'components/content/ImageInfo_1.twig' import Component as ImageInfo_1 %}
{% from 'components/content/BannerCta_1.twig' import Component as BannerCta_1 %}

{% block content %}

<!-- Hero -->
<section class="relative mb-20 overflow-hidden homeHeader bg-lightBlue homeSection_00">

  <div class="relative max-w-6xl px-4 mx-auto sm:px-6">
    <div class="grid grid-cols-3 pt-32 pb-20 md:pt-52 ">

      <!-- Hero content -->
      <div class="flex flex-col items-start justify-center col-span-3 mx-auto text-center md:mx-0 md:text-left info">


        <h1 class="w-full mb-6 leading-normal text-center text-tealBlue h1 font-uncut-sans" data-aos="zoom-out"
          data-aos-delay="100">
          <span class="text-darkBlue">
            {# Este es el about #}
            {{ title }}
          </span>
        </h1>
        <p class="w-full text-xl text-center text-grayish " data-aos="zoom-out" data-aos-delay="150">
          <span class="text-darkBlue">Remote Talent - Top Performance - Alpha Returns</span>
          <br>
          AlphaScale Talent connects businesses with top-tier remote
          <br>
          professionals, offering a diverse talent pool
          and cutting-edge
          <br>
          virtual office space technology.
        </p>

      </div>

    </div>
  </div>
</section>


<section class="mb-20 aboutSection_01">

  <div class="max-w-6xl px-4 mx-auto sm:px-6">
    <p class="w-full mb-10 text-lg text-center pcTab:text-left text-grayish aos-init aos-animate" data-aos="zoom-out"
      data-aos-delay="150">
      Astoptalent was founded in 2024 with a simple yet powerful mission: to bridge the gap between U.S. businesses and
      the top 1% of remote talent from Latin America. Recognizing the growing demand for skilled professionals who could
      work remotely, we set out to create a platform that connects businesses with the best talent while offering
      cost-effective solutions.
      <br><br>
      At Astoptalent, we specialize in providing tailored remote talent recruitment services, talent management, and
      seamless virtual collaboration for businesses across various industries. Our unique approach combines cutting-edge
      technology with personalized support to ensure that our clients not only find the best talent but also integrate
      them into their teams successfully.
      <br><br>
      We believe that businesses can thrive when they have access to highly skilled professionals who are not only
      culturally aligned but also highly motivated to drive results. Our proprietary virtual office platform enhances
      collaboration and productivity, making it easier than ever for remote teams to work together effectively, no
      matter where they are in the world.
      <br><br>
      With a focus on transparency, efficiency, and long-term partnerships, Astoptalent is proud to help businesses
      scale with top-tier remote talent while saving on hiring costs, reducing administrative burdens, and increasing
      overall performance.
    </p>
  </div>

</section>
<section class="mb-20 aboutSection_02">

  <div class="max-w-6xl px-4 mx-auto sm:px-6">

    {{
    ImageInfo_1({
    image: get_file('/images/Mission 2.png'),
    alt: 'Mission',
    title: 'Mission',
    desc: 'Empowering U.S. businesses by connecting them with the top 1% of remote talent from Latin America.
    We offer tailored recruitment, talent management, and innovative virtual collaboration solutions
    that help companies scale efficiently, save costs, and streamline operations, all while fostering
    seamless integration of remote teams.',
    side: 'left'
    })
    }}
    {{
    ImageInfo_1({
    image: get_file('/images/Vision 2.png'),
    alt: 'Vision',
    title: 'Vision',
    desc: 'To be the leading provider of high-performance remote talent solutions for U.S. businesses, driving success
    and
    innovation through seamless collaboration, diverse talent, and cost-effective strategies that make
    a global workforce an accessible reality for every company.',
    side: 'right'
    })
    }}

  </div>

</section>
<section class="relative overflow-hidden homeHeader servicesSection_03 ">


  <div class="relative max-w-6xl px-4 mx-auto sm:px-6">
    <div class="grid grid-cols-1 pb-20 md:pt-30 md:pb-30">

      <div
        class="flex flex-col items-center justify-center col-span-3 mx-auto text-center pcTab:col-span-2 md:mx-0 md:text-center info">
        {{ Button({
        text: "Learn How We Can Help You Scale Your Business",
        url: "/services/",
        r_icon: "<i class='bx bx-right-arrow-alt'></i>",
        type: 'primary',
        classes: 'mt-5'
        }) }}

      </div>
    </div>
  </div>
</section>

{% endblock %}