{% extends "base.twig" %}

{% from 'components/buttons/Button.twig' import Component as Button %}
{% from 'components/content/ImageInfo_1.twig' import Component as ImageInfo_1 %}
{% from 'components/content/BannerCta_1.twig' import Component as BannerCta_1 %}

{% block content %}

<!-- Hero -->
<section class="relative mb-20 overflow-hidden homeHeader bg-lightBlue homeSection_00">

  <div class="relative max-w-6xl px-4 mx-auto sm:px-6">
    <div class="grid grid-cols-3 pt-32 pb-20 md:pt-52 ">

      <!-- Hero content -->
      <div
        class="flex flex-col items-start justify-center col-span-3 mx-auto text-center md:mx-0 md:text-left info">

        {# <div data-aos="zoom-out">
          <div
            class="relative text-sm text-gray-300 bg-gray-800 rounded-full inline-block px-4 py-1 mb-6 before:content-[''] before:absolute before:-z-10 before:inset-0 before:-m-0.5 before:bg-gradient-to-t before:from-gray-800 before:to-gray-800 before:via-gray-600 before:rounded-full">
            <div class="text-gray-400">
              Lorem ipsum dolor sit amet consectetur
            </div>
          </div>
        </div> #}
        <h1 class="w-full mb-6 leading-normal text-center text-tealBlue h1 font-uncut-sans" data-aos="zoom-out" data-aos-delay="100">
          <span class="text-darkBlue">
            {# Este es el about #}
            {{ title }}
          </span> <br>
          Save Up 80%
        </h1>
        <p class="w-full text-xl text-center text-grayish " data-aos="zoom-out" data-aos-delay="150">
          <span class="text-darkBlue">Remote Talent - Top Performance - Alpha Returns</span> <br>
          AlphaScale Talent connects businesses with top-tier remote <br> professionals, offering a diverse talent pool
          and cutting-edge <br> virtual office space technology.
        </p>

      </div>

    </div>
  </div>
</section>


<section class="mb-20 aboutSection_01">

  <div class="max-w-6xl px-4 mx-auto sm:px-6">

    {{
      ImageInfo_1({
        image: get_file('/images/talents_results01.png'),
        alt: 'talents_results01',
        title: 'Top 1% of Talent<br> or sit, amet consect',
        desc: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit.<br class="textBreak" > Aspernatur dolorum non dolores, neque libero ad perferendis commodi.<br><br> Tenetur veritatis perspiciatis excepturi maiores, eos voluptas<br class="textBreak" > pariatur voluptatum perferendis cupiditate autem dolorum?',
        side: 'left'
      })
     }}

  </div>

</section>
<section class="mb-20 aboutSection_02">

  <div class="max-w-6xl px-4 mx-auto sm:px-6">

    {{
      ImageInfo_1({
        image: get_file('/images/talents_results01.png'),
        alt: 'talents_results01',
        title: 'Top 1% of Talent<br> or sit, amet consect',
        desc: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit.<br class="textBreak" > Aspernatur dolorum non dolores, neque libero ad perferendis commodi.<br><br> Tenetur veritatis perspiciatis excepturi maiores, eos voluptas<br class="textBreak" > pariatur voluptatum perferendis cupiditate autem dolorum?',
        side: 'right'
      })
     }}

  </div>

</section>

<section class="mb-20 homeSection_01">

  <div class="max-w-6xl px-4 mx-auto sm:px-6">

    {{ BannerCta_1({
      title: 'Pariatur voluptatum perferendis <br class="textBreak" >cupiditate autem',
      desc: 'Lorem ipsum dolo em ipsum dolor sit, amet consectetur adipisicing elit.<br class="textBreak" > Aspernatur dolorum non dolores, neque libero ad perfere',
      buttonText: 'View link',
      buttonLink: '',
    }) }}

  </div>

</section>

{% endblock %}