{% extends "base.twig" %}

{% from 'components/buttons/Button.twig' import Component as Button %}

{% block content %}

<section class="relative mb-20 overflow-hidden homeHeader bg-lightBlue submitCv_00">

  <div class="relative max-w-6xl px-4 mx-auto sm:px-6">
    <div class="grid grid-cols-3 pt-32 pb-20 md:pt-52 ">

      <!-- Hero content -->
      <div class="flex flex-col items-start justify-center col-span-3 mx-auto text-center md:mx-0 md:text-left info">

        <h1 class="w-full mb-6 leading-normal text-center text-tealBlue h1 font-uncut-sans" data-aos="zoom-out"
          data-aos-delay="100">
          <span class="text-darkBlue">
            Join the Top Talent <br>
          </span>
          Pool with ASTopTalent
        </h1>
        <p class="w-full text-xl text-center text-grayish " data-aos="zoom-out" data-aos-delay="150">
          Looking to grow your career with top companies in the U.S.? <br class="textBreak">
          Submit your CV and apply for exciting remote opportunities <br class="textBreak">
          with ASTopTalent. Take the first step towards joining an elite team.
        </p>

      </div>

    </div>
  </div>
</section>

<section class="mb-10 pcTab:mb-20 submitCv_01">

  <div class="max-w-6xl px-4 mx-auto sm:px-6">

    {# <div class="px-10 py-24 lg:px-20 rounded-[50px] contentCard bg-lightBlue"> #}
      <div>

        <div class="mb-16 sectionTop" data-aos="zoom-out" data-aos-delay="100">

          <h2
            class="flex flex-col justify-center gap-2 mx-auto mb-10 font-normal text-center pcTab:flex-row h3 title text-darkBlue">
            <strong>
              How to Apply
            </strong>
          </h2>

        </div>

        <div class="sectionContent ">

          <div class="hidden grid-cols-4 pcTab:grid desktop">

            <div class="col-span-1 mb-4 info1" data-aos="zoom-out" data-aos-delay="150">
              <h3 class="mb-2 text-xl font-bold text-center text-darkBlue">
                Step 1: Prepare Your Video
              </h3>
              <p class="text-sm text-center text-grayish">
                Record a short video (maximum 2 minutes) where you introduce yourself and explain why you’re a great fit
                for remote work. Please speak in English to showcase your language proficiency.
              </p>
            </div>
            <div class="col-span-1 col-start-3 info2" data-aos="zoom-out" data-aos-delay="200">
              <h3 class="mb-2 text-xl font-bold text-center text-darkBlue">
                Step 2: Complete the Form
              </h3>
              <p class="text-sm text-center text-grayish">
                Fill out the form below with your personal details, including your CV, contact information, and video.
                This helps us understand your qualifications and experience for potential roles.
              </p>
            </div>
            <div class="col-span-4 my-4 imageSteps" data-aos="zoom-out" data-aos-delay="200">
              <img src="{{ get_file('/images/step_talent_desktop.svg') }}" alt="choose talent steps mobile">
            </div>
            <div class="col-span-1 col-start-2 info3 " data-aos="zoom-out" data-aos-delay="250">
              <h3 class="mb-2 text-xl font-bold text-center text-darkBlue">
                Step 3: Answer Key Questions
              </h3>
              <p class="text-sm text-center text-grayish">
                Provide answers to a few short questions that will help us understand your motivations, skills, and what
                makes you a great fit for a remote team.
              </p>
            </div>
            <div class="col-span-1 col-start-4 info4" data-aos="zoom-out" data-aos-delay="300">
              <h3 class="mb-2 text-xl font-bold text-center text-darkBlue">
                Step 4: Take the Next Step
              </h3>
              <p class="text-sm text-center text-grayish">
                Once we receive your application, our team will review it. If your profile matches an open position, we
                will reach out to schedule an interview.
              </p>
            </div>

          </div>
          <div class="relative flex flex-row items-center justify-center gap-6 mx-auto w-fit pcTab:hidden mobile">

            <div class="absolute top-0 bottom-0 h-full -left-14 sm:left-0 sm:relative imageSteps" data-aos="zoom-out" data-aos-delay="100">
            <img class="h-full mx-auto" src="{{ get_file('/images/step_talent_mobile.svg') }}" alt="choose talent steps mobile">
          </div>
          <div class="relative flex flex-col justify-between gap-4 pl-2 sm:left-2 left-10 sm:pl-0 info">
              <div class="info1" data-aos="zoom-out" data-aos-delay="150">
                <h3 class="mb-2 text-xl font-bold text-left text-darkBlue">
                  Step 1: Prepare Your<br>
                  Video
                </h3>
                <p class="text-[16px] text-left text-grayish">
                  Record a short video (maximum 2 minutes) where you<br>
                  introduce yourself and explain why you’re a great fit<br>
                  for remote work. Please speak in English to showcase<br>
                  your language proficiency.
                </p>
              </div>
              <div class="info2" data-aos="zoom-out" data-aos-delay="200">
                <h3 class="mb-2 text-xl font-bold text-left text-darkBlue">
                  Step 2: Complete the Form
                </h3>
                <p class="text-[16px] text-left text-grayish">
                  Fill out the form below with your personal details,<br>
                  including your CV, contact information, and video.<br>
                  This helps us understand your qualifications and<br>
                  experience for potential roles.
                </p>
              </div>
              <div class="info3" data-aos="zoom-out" data-aos-delay="250">
                <h3 class="mb-2 text-xl font-bold text-left text-darkBlue">
                  Step 3: Answer Key<br>
                  Questions
                </h3>
                <p class="text-[16px] text-left text-grayish">
                  Provide answers to a few short<br>
                  questions that will help us understand<br>
                  your motivations, skills, and what<br>
                  makes you a great fit for a remote<br>
                  team.
                </p>
              </div>
              <div class="info4" data-aos="zoom-out" data-aos-delay="300">
                <h3 class="mb-2 text-xl font-bold text-left text-darkBlue">
                  Step 4: Take the Next<br>
                  Step
                </h3>
                <p class="text-[16px] text-left text-grayish">
                  Once we receive your application, our team will<br>
                  review it. If your profile matches an open<br>
                  position, we will reach out to schedule an<br>
                  interview.
                </p>
              </div>
            </div>

          </div>

        </div>

      </div>

    </div>

</section>

<section class="mb-10 pcTab:mb-20 submitCv_01">

  <div class="max-w-6xl px-4 mx-auto sm:px-6">

    <div class="px-10 py-24 lg:px-20 rounded-[50px] contentCard bg-lightBlue">
        <div class="mb-16 sectionTop" data-aos="zoom-out" data-aos-delay="100">

          <h2
            class="flex flex-col justify-center gap-2 mx-auto mb-10 font-normal text-center pcTab:flex-row h3 title text-darkBlue">
            <strong>
           Please Complete the Form Below
            </strong>
          </h2>

        </div>
    </div>

  </div>

</section>

{% endblock %}