{% macro Component(param = {
  title: '',
  desc: '',
  buttonText: '',
  buttonLink: '#'
}) %}

{% from 'components/buttons/Button.twig' import Component as Button %}

<div class="BannerCta_1">
  <div class="px-10 py-20 flex flex-col gap-10 lg:px-20 rounded-[50px] contentCard bg-lightBlue">

      <h2 class="mx-auto font-bold text-center h3 title text-darkBlue" data-aos="zoom-out" data-aos-delay="100">
        {{ param.title }}
      </h2>
      {% if param.desc != '' %}
        <p class="text-base text-center text-grayish" data-aos="zoom-out" data-aos-delay="150">
          {{ param.desc }}
        </p>
      {% endif %}
      {% if param.buttonText != '' %}
        <div class="flex justify-center "
        data-aos="zoom-out" data-aos-delay="200">
        {{
          Button({
            text: param.buttonText,
            link: param.buttonLink,
            type: 'primary',
          })
        }}
        </div>
      {% endif %}

  </div>
</div>

{% endmacro %}