

<header class="absolute z-30 w-full pt-6 dark">
    <div class=" x-auto lg:px-5 sm:max-w-s_95p sm:mx-auto lg:max-w-6xl sm:px-2">
        <div class="flex items-center justify-between h-16 px-5 md:px-0 md:h-20">
          {% include 'partial/navbars/navbar_1.twig' with {
            'menu': header_menu_primary,
            'menu_right': header_menu_right
          } %}

        </div>
    </div>
</header>