

{% macro Component(param = {
  icon: '',
  title: '',
  desc: '',
  align: 'left'
}) %}

<div class="flex flex-col items-start justify-center gap-6 info">

  {% if param.icon != '' %}
  <div class="icon">
    {# <img class="mx-auto md:max-w-none" src="{{ icon }}"> #}
    {{ param.icon | raw }}
  </div>
  {% endif %}
  <div class="flex flex-col gap-6 content">
    <h3 class="font-bold leading-tight title h3 text-darkBlue">
      {{ param.title | raw }}
    </h3>
    <p class="text-grayish">
      {{ param.desc | raw }}
    </p>

  </div>

</div>


{% endmacro %}