
<div class="max-w-6xl px-4 mx-auto sm:px-6">

    <div class="sectionTop">
      <h2 class="mx-auto mb-10 font-normal text-center h3 title text-darkBlue" data-aos="zoom-out" data-aos-delay="100" >
          Why Choose AlphaScale?
      </h2>
      <p class="mb-12 text-base text-center text-grayish" data-aos="zoom-out" data-aos-delay="150">
          Hire top LATAM talent remotely & cut cost by up 80% - <br>
          efficient, skilled & seamless
      </p>
    </div>

    <div class="sectionContent">

      <div class="sliderContent">

        <div class="grid grid-cols-1 md:grid-cols-2 elementSlider">

          <div class="col-span-1 image">

            <div class="imageContent">

            </div>
            <div class="controls">

            </div>
            <div class="bullets">

            </div>

          </div>
          <div class="col-span-1 info">

          </div>

        </div>


      </div>

    </div>

</div>